{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Weight</th>
            </tr>
        </thead>
        <tbody>
            {% for weight in weights %}
                <tr>
                    <td>{{ weight.get('date') }}</td>
                    <td>{{ weight.get('weight') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock%}