{% from 'macros.html' import history_table, add %}
{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    {{ add() }}
    <div class="av- py-3">
        <div class="card p-3 mx-1">
            <strong>Last Month's Average:</strong> {{ "{:.1f}".format(avg_last) }} kg
        </div>
        <div class="card p-3 mx-1">
            <strong>This Month's Average:</strong> {{ "{:.1f}".format(avg_current) }} kg
        </div>
    </div>
    {{ history_table(weights) }}
{% endblock main %}